@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
.App, body, html {
  background-color: #0d518b;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: auto;

}
.container {
  height: 100vh;
  width: 100%;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

.navbar-dark {
  background-color: #f63684;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  display: inline-block;
  flex-direction: column;
  text-align: center;
}

.auth-inner {
  margin: auto;
  display: inline-block;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.menu {
  color: white !important; 
}

#collasible-nav-dropdown {
  color: white;
}